# if code from specific branch is needed
#git+https://github.com/DeebotUniverse/client.py@main#deebot-client==2.1.0b0
deebot-client==3.0.2

homeassistant>=2023.8.0b0
mypy==1.6.1

numpy>=1.23.2
pre-commit==3.5.0
pylint==3.0.1

#pytest-homeassistant-custom-component==0.4.4

# uses in deebbot-client, adding for mypi
types-cachetools
