# if code from specific branch is needed
#git+https://github.com/DeebotUniverse/client.py@main#deebot-client==2.0.0b1
deebot-client==2.0.0b1

homeassistant>=2022.10.0b0
mypy==1.3.0

numpy>=1.21.2
pre-commit==3.3.1
pylint==2.17.2

#pytest-homeassistant-custom-component==0.4.4

# uses in deebbot-client, adding for mypi
types-cachetools
