# if code from specific branch is needed
# git+https://github.com/DeebotUniverse/client.py@main#deebot-client==0.0.1b1
deebot-client==1.6.0

homeassistant>=2022.10.0b0
mypy==0.982

numpy>=1.21.2
pre-commit==2.20.0
pylint==2.15.4

#pytest-homeassistant-custom-component==0.4.4

# uses in deebbot-client, adding for mypi
types-cachetools
